[2018-02-10 13:08] gogs85 opened #3 "ERROR in node_modules after install plugin."
Hi I get error when install ngx-uploadcare-widget and start ng serve.
Here is error: ERROR in node_modules/@angular/core/src/render3/ng_dev_mode.d.ts(9,11): error TS2451: **Cannot redeclare block-scoped variable 'ngDevMode'.
node_modules/ngx-uploadcare-widget/node_modules/@angular/core/src/render3/ng_dev_mode.d.ts(9,11): error TS2451: Cannot redeclare block-scoped variable 'ngDevMode'.**

And this

[2018-02-10 13:22] gogs85 commented on #3
I fix now, just some issue with angular version. Now after update is fine. :) Sorry

[2018-02-10 13:22] #3 closed

[2018-02-13 20:44] cmauersberger opened #5 "Error when using component in template"
Hi! I'd love to use your wrapper and followed the simple steps, but I get an error when using the component in my template. The console reads:

Any idea how that comes? Is there any additional info I can supply?

[2018-02-14 05:35] ZNick1982 commented on #5
Hello Christof.
Can you provide the version of Angular that you use.
And examples of your code, how you try to setup the widget, including templates.

[2018-02-14 13:32] cmauersberger commented on #5
Hey ZNick,
`ng version` gives me:

In my component.html file, I put
[code]

In my component.ts file, I changed nothing.

In my module.ts file, I put (just like your docu says):
[code]

My package.json includes:

[code]

I hope this gives you an idea! Thanks for your help!

[2018-02-15 14:35] ZNick1982 commented on #5
HI Christof.
I did try cli of your version (1.6.3), generated a new app and add the wrapper.
Unfortunately the error did not reproduced.
I think that could be mismatches in "devDependencies" in configuration.
Could you send "devDependencies" of your package.json?

Also I little discovered about your error and found the following issue:
https://github.com/angular/angular/issues/20101
Hope its helps

[2018-02-21 16:06] cmauersberger commented on #5
Thanks for your answer and sorry for not getting back to you earlier (sick...).
My devDependencies read (I removed the @ from lines 2-6):

The link you provided didn't give me a straightforward solution, although I didn't try all the suggested hints.

[2018-02-21 17:57] StinglSa commented on #5
issue is solved: we had to use latest angular core.
Kind regards

[2018-02-21 20:02] StinglSa commented on #5
one more question on this. what is the preferred way to clear previous images from the widged after upload? thanks in advance.

[2018-02-22 10:04] cmauersberger commented on #5
Issue resolved after we updated to latest angular CLI!

[2018-02-22 10:04] #5 closed

[2018-02-22 17:13] cmauersberger opened #6 "Controlling the widget: 1) Resetting it; 2) getting current files independent from events"
I am not sure whether this is an "issue" for ngx-uploadcare-widget, or a rather angular specific question, but in my view it must be a very common scenario for the use of the widget in forms.

**The scenario:**
The uploadcare widget is part of a form, where users provide input and use the widget to upload images. Once they press "Save" on my form, form data gets to the backend, including the Uuid

[2018-02-22 19:27] ZNick1982 commented on #6
Hi Christof.
Thanks for this questions. Good points for component improvements. :)
* For point 1, this is under development right now. Hope it's will be released on the next week.
* For point 2 yes you're right, the `on-change` event can be used.  The input parameters for this event could be different and depends on `multiple` attribute. If attribute is set to true, then widget allows to upload mu

[2018-03-19 11:03] MatthiasKunnen opened #8 "Component vs. Directive"
Why is this not an attribute directive? This would allow for easier custom styling and changes to the button text.

[2018-03-20 08:42] ZNick1982 commented on #6
Hi Christof.
New version of component just released. Its interactive and contains methods for widget reset and clear uploads.

Kind Regards,
Nikolay.

[2018-03-20 09:31] ZNick1982 commented on #8
Hello Matthias.
The Directive will be released in future. For now the component uses its markup and styles out from the box.

[2018-03-23 22:51] MatthiasKunnen commented on #8
Would it be possible to give an estimated completion date or a milestone/issue I could watch in order to stay up-to-date about this future release?

[2018-03-26 13:05] ZNick1982 commented on #8
Hello Matthias.
Planned version with directive is estimated to the middle of April.
I will write you in this issue when its ready.

Kind regards,
Nikolay.

[2018-03-26 16:35] MatthiasKunnen commented on #8
Thank you in advance, should I close this issue in the meanwhile?

[2018-04-05 08:08] cmauersberger commented on #6
Works perfect, thank you!

[2018-04-05 08:08] #6 closed

[2018-04-15 18:02] afeezaziz opened #10 "Cannot build for production"
This the error that I get:

`ERROR in : Type UcWidgetComponent in /Users/afeezaziz/Projects/Motion/dashboard/node_modules/ngx-uploadcare-widget/release/ucWidget/ucWidget.component.d.ts is part of the declarations of 2 modules: UcWidgetModule in /Users/afeezaziz/Projects/Motion/dashboard/node_modules/ngx-uploadcare-widget/release/ucWidget/ucWidget.module.d.ts and AppModule in /Users/afeezaziz/Proje

[2018-04-15 18:07] ZNick1982 commented on #10
Hello @afeezaziz.
Thanks for this report. I will check this and write back to you shortly.

Kind regards.

[2018-04-16 10:47] ZNick1982 commented on #10
Hello @afeezaziz.
I did reproduce the issue. And it will be fixed on the next release.
Meanwhile to fix this error manually here is the workaround:
1. Open file `your_project/node_modules/ngx-uploadcare-widget/release/ucWidget/index.d.ts`
2. Comment the line: `export * from './ucWidget.module';`
3. Do the same with `index.js`
4. Rebuild your project with `ng build --prod`

Hope its helps.
Kind reg

[2018-04-19 12:46] isnyaga commented on #10
Thank you @ZNick1982, however I now get this error: ERROR in src/app/app.module.ts(4,29): error TS2305: Module '"/Users/kennedynyaga/Dropbox/@CodeScripts/BidSoko/BackEnd/node_modules/ngx-uploadcare-widget/release/index"' has no exported member 'UcWidgetModule'.

[2018-04-19 12:57] ZNick1982 commented on #10
Hello @isnyaga.
For now there is no need to use the module 'UcWidgetModule';
Use just the component: 'UcWidgetComponent'

Hope this helps.

Kind regards.

[2018-05-25 23:58] TwunTee opened #12 "Use CommonModule instead of BrowserModule"
UcWidgetModule and UcWidgetCustomModule import BrowserModule instead of common module, only the app module should import BrowserModule, feature/library modules should import CommonModule.

Version: 1.0.1

The error I get when I use UcWidgetModule:
`
Error: BrowserModule has already been loaded. If you need access to common directives such as NgIf and NgFor from a lazy loaded module, import CommonM

[2018-06-04 08:58] ekyfauzi commented on #12
I have same problem, please help T_T

[2018-06-04 09:07] ekyfauzi commented on #12
Update:
In my case, i just import the component, not the module and everything works fine for me.

[code]
and

[code]
Hope it helps

[2018-06-08 14:47] Chethannp commented on #12
Anyone found an answer to this? I am getting this error in my Ionic/angular project :(

[2018-06-08 16:36] Chethannp commented on #12
This approach is giving me the following error.

Error: Type UcWidgetComponent is part of the declarations of 2 modules: HomePageModule and CreatepostPageModule! Please consider moving UcWidgetComponent to a higher module that imports HomePageModule and CreatepostPageModule. You can also create a new NgModule that exports and includes UcWidgetComponent then import that NgModule in HomePageModule a

[2018-06-08 16:58] Chethannp commented on #12
@ekyfauzi  - Can you please let us know how you solved it, The thing is I am using this UcWidgetComponent in 3 pages namely home, createpost and profile. It is giving me this error and I am not sure how to solve this :( can you please help!

[2018-06-10 15:11] Chethannp commented on #12
@TwunTee  - I did that it is giving me APP_VERSION not defined (Uploadcare) error for prod build.

[2018-06-10 19:20] Chethannp commented on #12
It is working fine on debug mode, but on prod build it is not showing any error but the app hungs. Also I am using ionic lazyloading is this causing an issue not sure :( stuck at this problem since 15 days.. Can you please help!

[2018-06-11 02:57] Chethannp opened #14 "APP_VERSION is not defined for UcWidget"
I am using lazy loading approach in ionic 3. Tried to use your plugin named “ngx-uploadcare-widget” but it said the UCwidget is not defined and please import it into the page… after several hours of debugging I found that it had to be moved to a shared component folder and then import it individually in pages, by doing this all the errors were fixed and app was working fine on browser and on debug

[2018-06-11 03:14] Chethannp commented on #10
Hi @ZNick1982 Nikolay can you please check #14 issue please.

[2018-06-11 09:23] isnyaga opened #15 "'ngx-uploadcare-widget' is not a known element:"
@ZNick1982  I have followed the instructions listed here : [ngx-uploadcare-widget](`https://github.com/uploadcare/ngx-uploadcare-widget`)

in my app.module.ts

`import { UcWidgetModule } from 'ngx-uploadcare-widget';

@NgModule({
  declarations: [
    AppComponent
],
 imports: [
    BrowserModule,
UcWidgetModule,
],
 ],
  exports: [
    MatTableModule,
    MatPaginatorModule,

  ],
  providers: [G

[2018-06-11 09:37] isnyaga commented on #15
@Chethannp I am not using Ionic but rather pure AngularJs 4

[2018-06-11 09:51] Chethannp commented on #15
Yeah but on which pages are you trying to access this module?? because your app.module.ts does not show any other pages which means you are using angular lazy loading. so let says you want to use it in home page then go to home.module.ts and add it like this.

import { NgModule } from '@angular/core';
import { IonicPageModule } from 'ionic-angular';
import { ListPage } from './list';
**import { Uc

[2018-06-11 10:47] Chethannp commented on #14
One more info.. If I am using this widget only on page it works great even on prod build but if I include it in multiple files is when the problem of **ReferenceError APP_VERSION is not defined** comes in, hope this may be a good info for the team and help me find a solution for this please!

[2018-06-11 11:48] Chethannp commented on #14
Fyi> Debug Build works perfect

![debugmode1](https://user-images.githubusercontent.com/7566931/41229846-29c4d5d0-6d9b-11e8-89d2-9dfdbece81de.jpg)

![debugmode2](https://user-images.githubusercontent.com/7566931/41229844-299526d2-6d9b-11e8-8460-3bad7cff8308.jpg)

Production Mode > Fails

![prdo-err1](https://user-images.githubusercontent.com/7566931/41229885-5155f6c4-6d9b-11e8-81e3-8debd83a652c.jp

[2018-06-11 12:39] Chethannp commented on #14
Angular CLI: 6.0.8
Node: 8.9.4
OS: win32 x64
Angular: 5.2.10
... animations, common, compiler, compiler-cli, core, forms
... http, platform-browser, platform-browser-dynamic

Package                           Version
-----------------------------------------------------------
@angular-devkit/architect         0.6.8
@angular-devkit/build-optimizer   0.0.35
@angular-devkit/core              0.6.8
@a

[2018-06-12 23:23] TwunTee commented on #14
I did a quick search and from what i can see https://github.com/uploadcare/ngx-uploadcare-widget/blob/07cfa99efbef72eb94d7108a5e1f973d04731742/src/ucWidget/ucWidget.component.ts#L12 is that APP_VERSION should have be getting a injected value from here https://github.com/uploadcare/ngx-uploadcare-widget/blob/95a275a11ec08791d78eeafc16440fea720551d9/config/webpack.common.js#L78 but I think it is not

[2018-06-13 04:50] ekyfauzi commented on #12
1. I do some modifications in:
https://github.com/ekyfauzi/ngx-uploadcare-widget/commit/3ee44202b3e22a83615f4c16dda775717e70ddb8

2. Create module like this:
[code]

3. Import that module to wherever you want. It's works fine in my project.

Note: It's just quick fix, i hope they can solve this problem soon.

[2018-06-18 08:07] Chethannp commented on #14
@Zmoki - any update on this please???

[2018-06-18 10:12] ZNick1982 commented on #14
Hi,
I just fixed the initialization of `APP_VERSION`:
https://github.com/uploadcare/ngx-uploadcare-widget/tree/APP_VERSION_Fix
 Unfortunately I have no possibility check this with IONIC.
Can you test it please, If its works. I will create PR

[2018-06-19 02:44] Chethannp opened #16 "Uploadcare widget facebook/dropdobox/..etc authentication opens in a browser and not inside the app"
I have an issue here… All I am doing is using ngx-uploadcare-widget in my app. This widget allows to share and upload photos from different platforms like facebook, twitter, instagram, dropbox and so on.
The moment I click on any of these say for example I click on connect via facebook it opens up a mobile browser and after I click on allow it doesnot redirect to the app, so I thought I should ope

[2018-06-19 07:32] Chethannp commented on #14
Sorry ignore the above message i figured it out and will test it and let you know!

[2018-06-19 07:55] Chethannp commented on #14
@ZNick1982 - I think this issue is fixed. I am not able to see an errors and it is working fine. In case if there are any issues I will report here. Thank you for the support!

[2018-06-19 07:56] Chethannp commented on #14
Also does this thing fix the AOT build error as well? #10

[2018-06-19 12:30] ZNick1982 commented on #14
Yes it's should resolve #10 also.

[2018-06-19 13:31] Chethannp commented on #14
Thank you so much @ZNick1982 for your help. I would also request you to please advice me on issue #16  I had mailed all the details to Alex at uploadcare but he asked me to create an issue here. Requesting you to please check this once.

Thanks a million your efforts!!!!

[2018-06-19 13:36] Chethannp commented on #16
![2018_06_19_19_04_21_window](https://user-images.githubusercontent.com/7566931/41600475-a250b9ca-73f3-11e8-8ac3-709b16d3ba55.png)
At this stage when I click on facebook/dropbox/Instagram/Drive/google photos it opens up a new window and its perfectly a normal behavior on web but on mobile app it opens up a new browser window outside the app and hence after authentication the browser just stays lik

[2018-06-19 18:37] ZNick1982 commented on #16
@Zmoki Hi, could you please assist?
I am not sure that regards Angular component.

[2018-06-20 02:47] Chethannp commented on #16
I did open this issue on Ionic Forum (https://forum.ionicframework.com/t/uploadcare-widget-facebook-authentication-opens-in-a-browser-and-not-inside-the-app/133063) as well and it is left unnoticed, The primary goal of using this widget in an hybrid app was to allow user to gain access to his personal drives but now the entire widget is helping me in just uploading local files :( and I am very bad

[2018-06-20 08:10] Chethannp commented on #16
My Debugging so far:

![directive-approach](https://user-images.githubusercontent.com/7566931/41645144-b84bf506-748d-11e8-9187-78049f5d2076.png)

Created a host listener directive for listening on  clicks that happen on the widget. I am able to catch hold of the clicks just before this above screen and redirecting it to open it in in app browser.

Below Is my sample code: Nothing.ts for listening

[2018-06-20 09:01] Chethannp commented on #16
![capture](https://user-images.githubusercontent.com/7566931/41648372-5067a9d6-7496-11e8-8206-c61ce2dbe197.png)
I am able to capture at this level of click but beyond this is an iframe and it is not letting me capture any clicks and it directly open the browser outside the app :(

@Zmoki - I am requesting you to please help me !!!!!

[2018-06-20 12:33] Zmoki commented on #16
@Chethannp thanks for the details! I need some time to look into it. I'll get back to you on this as soon as possible.

[2018-06-28 10:28] Chethannp commented on #16
@zomki - Can you please provide an update on this.

[2018-07-03 14:33] Zmoki commented on #16
@Chethannp sorry for the delay. I don't know much about mobile development. As far as I understood during my research, browser's OAuth2 authentification in ionic apps is a common problem. Maybe this [solution for Cordova](https://kb.uploadcare.com/article/142-basic-cordova-setup) (but with [`@ionic-native/in-app-browser`](https://www.npmjs.com/package/@ionic-native/in-app-browser)) is also suitabl

[2018-07-03 16:50] Chethannp commented on #16
Checking it.

[2018-07-04 11:22] Chethannp commented on #16
I think I have tried all possible things to catch hold of the click but it does not work at all.... Tried the below code to capture the iframe click inside the app.

[code]
I was able to catch the click but to get the url from the iframe it is throwing me a CORS error :(
Uncaught DOMException: Blocked a frame with origin "http://192.168.1.2:8100" from accessing a cross-origin frame.
    at eval (e

[2018-07-04 13:48] Chethannp commented on #16
@Zmoki - I was able to resolve the inappbrowser thing by making changes to my ionic config.xml file by adding the below command.

**<allow-navigation href="*" />**

Now the auth opens inside the app but it doesn't auto close and return to the widget, it simply shows a message saying Authentication complete -> Close this page to continue. now when I press the device back button it takes me back to

[2018-07-04 15:56] Zmoki commented on #16
@Chethannp

Unfortunately, I think there is no way to fix this and use the JS web version of the widget in hybrid applications, especially if you want to use social tabs, say, Google [has blocked](https://developers.google.com/identity/protocols/OAuth2InstalledApp) the web OAuth authorization and recommended to use native solutions instead.

See [this article](https://medium.com/@jlchereau/stop-us

[2018-07-05 15:48] Chethannp commented on #16
@Zmoki - I think we have reached a dead end :( will drop this widget for now. Requesting you to please update when the Uploadcare team has an working solution specific to hybrid applications like Ionic / React.

Thanks again for your valuable time!

[2018-07-06 10:02] optlsnd commented on #16
@Chethannp

We just noticed the Facebook tab issue is not related to using the hybrid app. Something went wrong with our Facebook app's permissions and we're fixing it now. I'll keep you updated.

[2018-07-07 04:38] Chethannp commented on #16
![aot-error](https://user-images.githubusercontent.com/7566931/42406845-a2e3f27a-81cd-11e8-97a6-6b49897f1bee.png)

This AOT error still exists!

[2018-07-24 18:43] Chethannp opened #17 "AOT build failing! Team can you please check this??"
Error encountered resolving symbol values statically. Calling function 'ɵmakeDecorator', function calls are
            not supported. Consider replacing the function or lambda with a reference to an exported function, resolving
            symbol Component in
            C:/Users/Chethan/Music/flockby-ui/node_modules/ngx-uploadcare-widget/node_modules/@angular/core/core.d.ts,
            resolvin

[2018-07-24 18:44] Chethannp commented on #16
Any update on this ??? also can you please check #17

[2018-07-24 18:50] Chethannp commented on #17
@Zmoki , @ZNick1982  - can you please check is asap please.....!
![2018_07_25_00_11_44_npm](https://user-images.githubusercontent.com/7566931/43159626-80801f84-8fa0-11e8-91a0-d891bd8cffe4.png)

[2018-07-24 18:55] ZNick1982 commented on #17
Hi @Chethannp .
I work on this issue.
I will write back with updates.

[2018-07-25 17:03] Chethannp commented on #17
Hope to see some update as soon as possible. Not able to release our app :(

[2018-07-25 18:17] Chethannp commented on #17
Also on safari browser the uploadcare widget displays a white screen.

[2018-07-26 14:15] Chethannp commented on #17
@Zmoki , @ZNick1982
Team any update on this?? Its becoming critical for us with uploadcare dependency, requesting you to please provide a solution asap!

[2018-07-26 14:22] ZNick1982 commented on #17
Hi @Chethannp  I did try AOT compilation on 5.x and 6.x versions of Angular with Angular cli and its works fine.
For this I used branch: https://github.com/uploadcare/ngx-uploadcare-widget/tree/APP_VERSION_Fix
Its also looks like that error is Ionic related.
Can you please prepare simple example with this error and put it on github? So, I can simple reproduce it then.

[2018-07-26 18:07] Chethannp commented on #17
Let me try the above mentioned code available in that branch and will share a new ionic sample code or steps

[2018-07-26 18:17] Chethannp commented on #17
I still get this error while using UcWidgetModule

ERROR Error: Uncaught (in promise): Error: Unexpected module 'UcWidgetModule' declared by the module 'ComponentsModule'. Please add a @Pipe/@Directive/@Component annotation.
Error: Unexpected module 'UcWidgetModule' declared by the module 'ComponentsModule'. Please add a @Pipe/@Directive/@Component annotation.
    at syntaxError (compiler.js:466)

[2018-07-26 18:21] Chethannp commented on #17
Prod build error details

`E:\uploadcare (master -> origin)
λ ionic build --prod
[INFO] Running app-scripts build: --prod

[23:50:08]  build prod started ...
[23:50:08]  clean started ...
[23:50:08]  clean finished in 6 ms
[23:50:08]  copy started ...
[23:50:08]  deeplinks started ...
[23:50:08]  deeplinks finished in 17 ms
[23:50:08]  ngc started ...
[23:50:13]  ngc finished in 4.74 s
[23:50:13]

[2018-07-26 18:31] Chethannp commented on #17
Let me know if you want to do a Skype / Hangout call if you are around will send you my id.

[2018-07-26 18:34] ZNick1982 commented on #17
Thanks @Chethannp .
I will try and write back as soon as check this.

[2018-07-26 18:35] Chethannp commented on #17
Sure thanks!

[2018-07-26 18:46] Chethannp commented on #17
![2018_07_25_00_11_44_npm](https://user-images.githubusercontent.com/7566931/43281743-1241965e-9132-11e8-82aa-58c36865c213.png)

Tried to create a new Angular project installed uploadcare, imported it to app.module.ts file and tried to run ng serve --open and I am getting the above error.
This is on angular project

[2018-07-26 18:49] Chethannp commented on #17
![2018_07_25_00_11_44_npm](https://user-images.githubusercontent.com/7566931/43282019-b95e2204-9132-11e8-80a2-70b305759453.png)

[2018-07-26 18:54] ZNick1982 commented on #17
Can you describe the steps how did you create the app?
Because the errors related to absent of rxjs module in Angular, widget module is not include this also and  don't use it.

[2018-07-26 18:57] Chethannp commented on #17
1. npm install -g @angular/cli
2. ng new my-app
3. cd my-app
4. npm install ngx-uploadcare-widget
5. App.module.ts file -->
 import { UcWidgetComponent } from 'ngx-uploadcare-widget';
@NgModule({
  declarations: [
    AppComponent
  ],
  imports: [
    BrowserModule,
    UcWidgetComponent
  ],
  providers: [],
  bootstrap: [AppComponent]
})
6. ng serve --open

[2018-07-26 18:58] ZNick1982 commented on #17
Thanks, will check this also.

[2018-07-26 19:01] Chethannp commented on #17
But please try to get this working on Ionic project first :)

[2018-07-28 04:59] Chethannp commented on #17
@ZNick - can you update on this please.

[2018-07-28 08:39] ZNick1982 commented on #17
I reproduced both errors: on Angular and IONIC.
Still working on it.

[2018-07-28 11:05] Chethannp commented on #17
Oki cool...! Hope you find a solution at the earliest :)

[2018-07-29 11:37] ZNick1982 commented on #17
Yes I fixed it.
Created pr https://github.com/uploadcare/ngx-uploadcare-widget/pull/18
Requested the review.

[2018-07-29 12:41] Chethannp commented on #17
Awesome thank you. Will check and let you know!

[2018-07-29 15:57] Chethannp commented on #17
@Zmoki - Can you please review this and merge this pull request from @ZNick1982, we are eagerly waiting to test this and praying it solves our problem :).... Also @ZNick1982 - I would request you to please update on the readme docs on the usage.

Thanks!

[2018-07-29 17:37] Chethannp commented on #17
![a8d1d819-31f5-4de3-9235-b8dd5b520204](https://user-images.githubusercontent.com/7566931/43369016-0317b8f8-9384-11e8-8de2-3b1052b9e5c3.png)

As shown in the screenshot there is a white screen display but clicking on it open facebook auth.

[2018-08-05 18:34] Chethannp commented on #17
APP_Version issue has come back again, I am requesting the entire team to please give a confirmation on proper working of this module.

[2018-08-05 18:37] Chethannp commented on #17
With this latest fix the AOT Build is also failing

[2018-08-05 18:39] Chethannp commented on #17
Still have to follow #10 to fix the Aot problem

[2018-08-05 18:44] Chethannp commented on #17
![2018_08_06_00_13_25_films_tv](https://user-images.githubusercontent.com/7566931/43688817-bf701804-990d-11e8-8bc2-5c6bd930f0c8.png)

[2018-08-06 06:30] bautrukevich commented on #17
@ZNick1982 can you check, please?

[2018-08-06 10:04] ZNick1982 commented on #17
Hi @Chethannp. Can you try following:
1. Delete folder ngx-uploadcare-widget from node_modules.
2. Install ngx-uploadcare-widget again via: `npm install ngx-uploadcare-widget --save-dev`.
3. Try to run: `ionic build --prod` or `ionic serve`

I did the same actions for my test ionic app and its works fine.
Here is my console log:
[code]

[2018-08-08 05:01] Nandhan-augment opened #19 "Issue while taking Angular build"
Hi, Since release/ucWidget/ucWidget.component.d.ts doesn't have a validator member in the UcWidgetComponent class. Validator is not working while taking an angular build.

[2018-08-08 09:25] ZNick1982 commented on #19
Hello @Nandhan-augment.  Thanks to the issue.
I will fix and update release shortly.

[2018-08-08 09:32] Nandhan-augment commented on #19
Okay

On Wed, Aug 8, 2018 at 2:55 PM, Nikolay <notifications@github.com> wrote:

[2018-08-09 09:25] ZNick1982 commented on #19
Hi @Nandhan-augment
Issue is fixed with v 1.1.1

[2018-08-09 11:26] Nandhan-augment commented on #19
Thanks @ZNick1982

[2018-08-09 17:07] Chethannp commented on #17
![2018_08_09_22_35_28_npm](https://user-images.githubusercontent.com/7566931/43914188-c71bb882-9c24-11e8-8f15-80aac2288a74.png)

[2018-08-10 08:22] Chethannp opened #22 "Prod build is still not happening at all :("
![2018_08_09_22_35_28_npm](https://user-images.githubusercontent.com/7566931/43947000-742f9398-9ca4-11e8-8f90-7d376595889b.png)

Team, Please let us know if it is possible to resolve this by today else we will think about an alternative solutions as your updates are not helping us in any which ways and is killing most of our time in waiting for your inputs.

[2018-08-10 08:27] bautrukevich commented on #22
@ZNick1982 please, look at this

[2018-08-10 08:35] Chethannp commented on #22
Let me know what details you want. Fyi.. UcwidgetModule is still failing so tried follow methods posted in #10, This was at least working fine till last week not sure what happened now even this is failing :(

[2018-08-10 08:52] Chethannp commented on #22
@ZNick1982  - Can you atleast tell me what needs to be done ??? #10 was working fine not sure what happened... Do you want to join a skype / hangouts call let me know,  I think this interaction has now gone past 2+ months and we do not have a proper plugin from your team yet.

[2018-08-10 09:03] Chethannp commented on #22
@ZNick1982 - can you respond to this thread asap please.

[2018-08-10 09:05] ZNick1982 commented on #22
Hi @Chethannp .
Just started to investigate this error. Will write back with updates.

[2018-08-10 09:06] Chethannp commented on #22
@ZNick1982  - In the mean while can you please tell me how to import this into our project should I still follow #10 method?? I am using lazyloading.

[2018-08-10 09:09] Chethannp commented on #22
I am doing it like this ..
Followed #10 on commenting UcwidgetModule and UcWidgetCustomModule.

**Created a shared module folder call ComponentsModule.**

import { NgModule } from '@angular/core';
**import { UcWidgetComponent } from 'ngx-uploadcare-widget';**
import { ElasticHeaderDirective } from '../directives/elastic-header/elastic-header';

@NgModule({
	declarations: [**UcWidgetComponent**, El

[2018-08-10 09:11] ZNick1982 commented on #22
No, I think this steps will not help.
This is another kind of error.
Trying to figure out what exactly ionic wants.

[2018-08-10 09:16] Chethannp commented on #22
ok. when you figure out and fix it please also walk me through steps to use it in my project pls pls pls.  and by gods grace I hope you get the fix asap ,....!

[2018-08-10 09:43] Nandhan-augment commented on #19
Hi
Now importing UgWidgetComponent is having a problem. It’s getting a message like the component is already imported in ngx-upload-care node module (one if the file). How can we import it here then ?

[2018-08-10 10:18] ZNick1982 commented on #22
@Chethannp Looks like I found the issue and fixed this in pr: https://github.com/uploadcare/ngx-uploadcare-widget/pull/23
Meanwhile pr on the review you can do following for your solution:
1. Replace folder `your_project/node_modules/ngx_uploadcare_widget/release` with `release` from pr.
2. Replace file `your_project/node_modules/ngx_uploadcare_widget/package.json` with same file from pr

Try to r

[2018-08-10 10:30] ZNick1982 commented on #22
Ok,
Please write me back with results.

[2018-08-10 10:34] Chethannp commented on #22
Just downloaded the branch v_1.1.3_typings_fix and trying it out on a fresh project. In the meanwhile can you please look into the safari issue

[2018-08-10 10:39] Chethannp commented on #22
@ZNick1982  - It is still failing..

![2018_08_09_22_35_28_npm](https://user-images.githubusercontent.com/7566931/43953735-91448f66-9cb7-11e8-9bfd-936b00e90074.png)

Should I create  a shared module declare it there and then import it in the lazy loaded list page?

[2018-08-10 10:57] ZNick1982 commented on #22
let me check on my laptop

[2018-08-10 11:03] ZNick1982 commented on #22
Looks like you did not replace the package.json from the pr.
Since the typings still looks to `ngx-uploadcare-widget/release/src/` folder.

[2018-08-10 11:05] Chethannp commented on #22
No I did clone of the entire branch to my local.

[2018-08-10 11:14] ZNick1982 commented on #22
Can you please check again.
Since the typing should be use `release` folder:
![image](https://user-images.githubusercontent.com/5286366/43955150-99824d40-9ca7-11e8-8ab1-9f8ae3fb8e11.png)

[2018-08-10 11:14] Chethannp commented on #22
I am doing it again.

[2018-08-10 11:36] Chethannp commented on #22
I think the issue is resolved. Will any how confirm in 2 hours.

[2018-08-10 12:54] Chethannp commented on #22
@ZNick1982 -  it is still failing

![2](https://user-images.githubusercontent.com/7566931/43958881-90329d62-9cca-11e8-8e13-811776a6f5fd.png)

![2018_08_10_18_23_04_package json_app_visual_studio_code](https://user-images.githubusercontent.com/7566931/43958892-95611980-9cca-11e8-9d1d-d9c7edc52135.png)

[2018-08-10 13:05] ZNick1982 commented on #22
@Chethannp Its still not version from pr. Can you please check it again?
The typings field should be: `"typings": "release/index.d.ts",`

[2018-08-10 13:13] Chethannp commented on #22
Can you please send me the zip folder here. my email id is chats1986@gmail.com. Please I am requesting you.

[2018-08-10 13:19] ZNick1982 commented on #22
@Chethannp We just released new version 1.1.3 of library in npm.
Can you run `npm update` on your projects.
And try to rebuild.

[2018-08-10 13:25] ZNick1982 commented on #19
Hi @Nandhan-augment .
First, you need to to import module:
`import { UcWidgetModule } from 'ngx-uploadcare-widget';`
and add this to your module as in example:
[code]
Just use the component in the your app:
[code]
Hope this helps.

[2018-08-10 13:55] Chethannp commented on #22
Doing it now.

[2018-08-10 14:02] Chethannp commented on #22
Fantastic work @ZNick1982  - It fixed the build issue!!!! Thanks a lot man.

[2018-08-10 14:03] Chethannp commented on #22
Will not bug guys anymore if you can help me with the safari issue. The widget is not seen in safari browser instead white screen is displayed may be css's are not being applied or something could you please try to reproduce this on your system.

[2018-08-10 14:09] ZNick1982 commented on #22
@Chethannp Thanks!
I can check Safari issue on the next week just after I've got my Mac back.
Now I work on Windows laptop.

[2018-08-13 07:30] bautrukevich commented on #22
@Chethannp on Safari MacOS? Or iOS? Can we close this issue?

[2018-08-13 07:30] bautrukevich commented on #22
On Safari MacOS demo works fine

[2018-08-13 07:32] bautrukevich commented on #19
@Nandhan-augment do you tried? can we close this issue?

[2018-08-13 07:33] bautrukevich commented on #17
@Chethannp AOT building is working now? Can we close this issue?

[2018-08-13 07:34] bautrukevich commented on #15
@isnyaga do you tried? can we close this issue?

[2018-08-13 07:36] bautrukevich commented on #12
@ekyfauzi can we close this issue?

[2018-08-13 07:57] bautrukevich commented on #22
Also, I check demo on iOS Simulator in Safari iOS — works fine.

[2018-08-13 09:06] #19 closed

[2018-08-13 10:37] bautrukevich commented on #19
@Nandhan-augment thanks!

[2018-08-14 03:11] Chethannp commented on #17
Thank you team for the help.. AOT build is working fine now. Will close this issue. Thanks again!

[2018-08-14 03:11] #17 closed

[2018-08-14 03:11] #14 closed

[2018-10-13 16:57] TwunTee opened #26 "this.renderer.destroyNode is not a function on production build"
The widget works fine when built using dev. When it is built for production I am getting an error
"""
this.renderer.destroyNode is not a function
"""
It happens after the file is uploaded. destroyNode function can be null during production as per angular docs. An stackoverflow thread with similar issue https://stackoverflow.com/questions/44465653/what-is-the-correct-way-to-destroy-an-element-creat

[2018-10-14 11:13] #12 closed

[2018-10-15 20:43] TwunTee commented on #26
@bautrukevich  @ZNick1982 can someone look into this please? I fixed this issue using the solution from stackoverflow but not sure which npm script to run to create a release version.

[2018-10-16 05:47] ZNick1982 commented on #26
Hello @TwunTee
Thanks for reporting this.
I will take a look.

Kind regards,
Nikolay Zherdev

[2018-10-23 18:53] ZNick1982 commented on #26
Hello @TwunTee
Fixed in https://github.com/uploadcare/ngx-uploadcare-widget/tree/v1.2.2_node_fix
Can you please check?

Kind regards,
Nikolay Zherdev.

[2018-12-04 15:23] Nandhan-augment opened #28 "Angular widget reject issue"
As per our request you have implemented reject option for angular widget. The above functionality works well on development environment, but after taking an angular build the reject is not working.

[2018-12-04 16:14] ZNick1982 commented on #28
Hello @Nandhan-augment .
Thanks for reporting this.

I will check and reply to you shortly.

Best regards.

[2018-12-17 18:49] ZNick1982 commented on #28
Hello @Nandhan-augment  I checked the reject twice and its work for me fine.
Can you send me the example of usage where error occurs?

Kind regards,
Nikolay Zherdev.

[2018-12-18 04:09] Nandhan-augment commented on #28
Hi,

Could you sent your sample code for reference? For me the issue was occuring after taking angular build.

Thanks Nandha

[2019-01-03 12:55] Nandhan-augment opened #29 "Logging out from connected drives"

[2019-01-14 09:16] Nandhan-augment commented on #28
Okay, thanks

On Sun, Jan 13, 2019 at 8:56 PM Nikolay <notifications@github.com> wrote:

[2019-03-01 15:46] megaomniglobalcorp opened #30 "Cancel upload causes error"
When I cancel an upload before it has finished I get a JS error. In chrome the message reads "ERROR TypeError: Cannot read property 'promise' of null", in Firefox the message reads "ERROR TypeError: "selectionPromise is null". The widget still continues to work but related call backs (on-change, on-progress...) are no longer called.

I have used a fresh NG project to test using the latest version

[2019-03-01 18:30] ZNick1982 commented on #30
Hello.
Thanks for your report.
I will take a look and reply to you shortly.

Kind regards,
Nikolay Zherdev.

[2019-03-05 11:20] ZNick1982 commented on #30
Hello Craig.

The issue is fixed on: https://github.com/uploadcare/ngx-uploadcare-widget/pull/31
Thanks for your reporting.

Kind regards,
Nikolay Zherdev.

[2019-03-18 16:10] amanrathie opened #32 "Error while using binding property"
Hi,

I'm trying the upload widget for Angular in a new project that we are
starting. Everything is working fine, but when I try to use any binding
property, for example: [publicKey] I get this message:

*core.js:15723 ERROR Error: Uncaught (in promise): Error: Template parse
errors:*
*Can't bind to 'publicKey' since it isn't a known property of
'ngx-uploadcare-widget'.*
*1. If 'ngx-uploadcare-widg

[2019-03-19 00:22] bautrukevich commented on #32
@amanrathie Thank you for the issue.

@ZNick1982 can you help?

[2019-03-25 11:54] ZNick1982 commented on #32
Hello @amanrathie .

Please checkout the demo repo: https://github.com/ZNick1982/ngx-uploadcare-widget-demo
You can find how to define the key in [app.component.ts](https://github.com/ZNick1982/ngx-uploadcare-widget-demo/blob/8fd19a4c446778355cb82fbb6931dd8e7cb049a0/src/app/app.component.ts#L13).

Kind regards,
Nikolay Zherdev

[2019-03-31 13:53] amanrathie commented on #32
Thanks, that's was helpful.

Em seg, 25 de mar de 2019 às 08:54, Nikolay <notifications@github.com>
escreveu:

[2019-06-05 15:33] mwawrusch opened #33 "Angular 8 compatibility"
Trying to upgrade to angular 8 but getting the following errors:

[code]

[2019-06-05 15:58] ZNick1982 commented on #33
Hi @mwawrusch .
Thanks for reporting this.
I will check and write back to you shortly.

Kind regards,
Nikolay Zherdev.

[2019-06-12 13:21] ZNick1982 commented on #33
Hi @mwawrusch .
I checked on Angular 8 it works fine.
And also updated the example demo to Angular 8.0
You can find this demo here: https://github.com/ZNick1982/ngx-uploadcare-widget-demo.git

Meanwhile we will add compatibility of Angular 8.x to the widget and release it in the next version.

Kind regards,
Nikolay Zherdev.

[2019-07-01 23:04] mwawrusch commented on #33
Thx. Much appreciated

[2019-07-27 19:16] wilfredonoyola commented on #33
Hi @mwawrusch @ZNick1982 , Does this work with Angular 8 for last versionngx-uploadcare-widget? Let me know

Thanks

[2019-08-29 14:42] olehleskiv opened #35 "Angular universal support"
I have issue with serving the application using SSR.

[code]

Steps to reproduce
1. Add universal support to existing project
`ng add @nguniversal/express-engine --clientProject {ptojectName}`
2. Add `ngx-uploadcare-widget` widget and use in project
3. Run `npm run build:ssr && npm run serve:ssr`

Got an error
[code]

[2019-08-30 06:50] ZNick1982 commented on #35
Hi @olehleskiv.
I will take a look and write back to you shortly.

[2019-09-02 16:06] ZNick1982 commented on #33
Yes it works on Angular 8

[2019-09-04 10:57] ZNick1982 commented on #35
Hi @olehleskiv
I was able to reproduce the error.
Currently working on it.

[2019-09-04 15:57] ZNick1982 commented on #35
Fixed in https://github.com/uploadcare/ngx-uploadcare-widget/pull/36 As soon as PR pass code review new version will be released.

[2020-02-10 10:57] gak112 opened #37 "Angular 9 Migration Problem"
ERROR in node_modules/ngx-uploadcare-widget/release/ucWidget/ucWidget.module.d.ts:2:14 - error NG6002: Appears in the NgModule.imports of AuctionsModule, but could not be resolved to an NgModule class

2 export class UcWidgetModule {

[2020-02-11 22:44] maxbendick commented on #37
I'm able to replicate the issue. Sometimes this happens when packages are minified before distribution, stripping annotations. Ivy requires that the annotations are not stripped away - that's why this error appears.

If you're comfortable with it, you can disable Ivy and use the old rendering engine by setting `enableIvy` to false in your app tsconfig:
[code]

However, there are many benefits to I

[2020-02-12 05:25] gak112 commented on #37
I upgraded my project because of ivy

On Wed, 12 Feb 2020 at 4:14 AM, Max Bendick <notifications@github.com>
wrote:

--
*Thanks & Regards*
Gunda Ajay Kumar
+91 8886667770

[2020-02-12 17:37] robincard commented on #37
I'm getting the same issue. It can be fixed by disabling Ivy but Ivy is the reason many will upgrade to Angular 9.

[2020-03-16 14:46] cyrilletuzi commented on #37
Same issue.

Could be a build issue: while all other packages (Angular itself and all others libs) are compiled by `ngcc` in `esm5` on first serve/build, for example:
[code]

this lib is compiled as `commonjs`:

[code]

It seems this lib use a custom build system. Angular librairies should stick to official library build system to avoid this kind of issues, ie. [`ng-packagr`](https://github.com/ng

[2020-03-17 07:29] rsedykh commented on #37
Hey guys! We'll tackle this problem next week I hope (can't promise anything right now, but we'll try).

[2020-03-31 13:26] #29 closed

[2020-04-09 09:05] kevintc commented on #37
Hello @rsedykh, is there any news about this issue? The last update is from a few weeks ago and we still face the same problem :)

[2020-04-09 16:58] cyrilletuzi commented on #37
@rsedykh I confirm it is just a build issue.

I was able to fix the issue just by copying the source files in an official Angular CLI library project.

Repo [here](https://github.com/Norberteam/ngx-uploadcare-widget), library is in `projects` folder.

To do the same, you can just follow the [commits history](https://github.com/Norberteam/ngx-uploadcare-widget/commits).

The only details I had to a

[2020-04-10 13:29] rsedykh commented on #37
@cyrilletuzi hey! So thank you for your contribution! We've drafted PR (https://github.com/uploadcare/ngx-uploadcare-widget/pull/38) and pushed 2.0.0-alpha.1 to the npm (https://www.npmjs.com/package/ngx-uploadcare-widget).

Will you take a look? Jfyi, we haven't checked if it is compatible with the previous version yet, also we haven't updated readme.

Can you send me (rsedykh@uploadcare.com) an

[2020-04-10 13:32] rsedykh commented on #37
@kevintc, @gak112, @maxbendick, @robincard — thank you for your patience and sorry that it took forever. Take a look at 2.0.0-alpha.1 (https://www.npmjs.com/package/ngx-uploadcare-widget).

[2020-04-10 13:45] cyrilletuzi commented on #37
@rsedykh I confirm the issue is fixed.

As a library author myself, this is not sure you can achieve that. I would advise to tell in README to install v1 for Angular <= 8 and v2 for Angular >= 9.

[2020-04-14 11:58] #37 closed

[2020-04-15 14:05] #33 closed

[2020-04-15 14:05] #32 closed

[2020-04-15 14:05] #30 closed

[2020-04-15 14:06] #28 closed

[2020-04-15 14:07] #22 closed

[2020-04-15 14:07] #16 closed

[2020-04-15 14:07] #15 closed

[2020-04-15 14:08] #10 closed

[2020-04-15 14:08] #8 closed

[2020-04-15 14:09] #35 closed

[2020-04-29 11:14] yaacov1974 opened #43 "angular 9 issue with ivy"
hello
im getting this error -

ERROR in node_modules/ngx-uploadcare-widget/release/ucWidget/ucWidget.module.d.ts:1:22 - error NG6002: Appears in the NgModule.imports of SettingModule, but could not be resolved to an NgModule class.

This likely means that the library (ngx-uploadcare-widget) which declares UcWidgetModule has not been processed correctly by ngcc, or is not compatible with Angular Iv

[2020-04-29 11:54] nd0ut commented on #43
Hello! Can you tell me which version you're using?
Version `2.x` should work with Ivy. Please check https://github.com/uploadcare/ngx-uploadcare-widget/issues/37

[2020-04-29 12:07] yaacov1974 commented on #43
hi , i did npm install uploadcare-widget

‫בתאריך יום ד׳, 29 באפר׳ 2020 ב-14:55 מאת ‪Aleksandr Grenishin‬‏ <‪
notifications@github.com‬‏>:‬

[2020-04-29 12:11] yaacov1974 commented on #43
now i see im on v3 ... how can i change it to v2 ?

‫בתאריך יום ד׳, 29 באפר׳ 2020 ב-15:07 מאת ‪yaacov zur‬‏ <‪
yaacov.zur@gmail.com‬‏>:‬

[2020-04-29 12:31] nd0ut commented on #43
You need to install `ngx-uploadcare-widget`, not `uploadcare-widget`

[2020-04-29 14:03] yaacov1974 commented on #43
great , thanks

‫בתאריך יום ד׳, 29 באפר׳ 2020 ב-15:31 מאת ‪Aleksandr Grenishin‬‏ <‪
notifications@github.com‬‏>:‬

[2020-04-29 15:31] #43 closed

[2020-06-09 15:12] gopal-augment opened #45 "Angular Universal not working with Angular 6"
### Describe the bug
I have tried using Angular Universal in my project. it seems error in `ucWidget.component.js`

  throw new Error("NotYetImplemented");

### Environment
My package.json file is below
`{
   "name":"myproject",
   "version":"0.0.0",
   "license":"MIT",
   "scripts":{

   },
   "private":true,
   "dependencies":{
      "@agm/core":"^1.0.0-beta.3",
      "@angular/animations":"^6.1

[2020-06-09 17:36] nd0ut commented on #45
Hey @gopal-augment,

Can you try to add those lines at the top of `head`?

[code]

I can't setup the test environment right now, but it should definitely help. If so, we'll add it to the codebase and release.

The actual problem is that `uploadcare-widget` when importing tries to initialize itself if it's running in the browser. Since the angular universal uses domino for SSR, the widget thinks it

[2020-06-09 20:25] gopal-augment commented on #45
No luck. Its same error throwing.

[2020-06-11 12:46] nd0ut commented on #45
@gopal-augment

Yep, I've found it.

You need to disable loading of `uploadcare-widget` inside `domino` env.

To do this, you can use `null-loader` to replace `uploadcare-widget` with null module.

1. Install `null-loader`

[code]

2. Add rule to the webpack config

[code]

This should work for you.

[2020-09-15 12:12] #45 closed

[2020-09-15 12:18] gopal-augment opened #50 "Angular 9 compatibility"
### Describe the bug

Upgraded our project with Angular 9 and upgraded npm i ngx-uploadcare-widget, tried version >=2.x

### Code / screenshots

![image](https://user-images.githubusercontent.com/31436402/93209131-47735400-f77b-11ea-8e24-2ca1b98b36dc.png)

### Environment

 - Library version:
 - Language/framework version:
 - OS version:
![image](https://user-images.githubusercontent.com/31436402/

[2020-09-15 16:43] mwawrusch opened #51 "Angular 10 upgrade fails."
### Describe the bug

Angular 10 upgrade fails.

Upgrade to angular 10, then launch. You will receive the following error message:

ERROR in The target entry-point "ngx-uploadcare-widget" has missing dependencies:
 - uploadcare-widget

### Expected behavior

Not to fail

### Environment

 - Library version:    "ngx-uploadcare-widget": "2.0.2",
 - Language/framework version: Angulra 10
 - OS versio

[2020-09-15 16:57] gopal-augment commented on #50
I figured out this occurred when IVY is disabled and doesn't work with latest version.

[2020-09-15 17:06] #50 closed

[2020-09-15 17:07] gopal-augment commented on #51
Try to to install its peer dependency "uploadcare-widget": "^3.10.2".

[2020-09-15 18:06] mwawrusch commented on #51
Haha, ok totally missed that. Maybe I need to start drinking coffee again. Thx, much appreciate the quick help.

[2020-09-18 09:57] rsedykh commented on #51
@mwawrusch we've updated the repo's readme to remind installing this dependency. :-)

[2020-09-18 09:57] #51 closed

[2020-11-17 08:46] gak112 opened #53 "Angular 11 Ivy Issue"
This likely means that the library (ngx-uploadcare-widget/lib/ucWidget/ucWidget.module) which declares UcWidgetModule has not been processed correctly by ngcc, or is not compatible with Angular Ivy. Check if a newer version of the library is available, and update if so. Also consider checking with the library's authors to see if the library is expected to be compatible with Ivy.

[2020-11-17 08:56] gak112 commented on #53
import path mistake..

[2020-11-17 08:56] #53 closed

[2021-03-23 09:39] handihow opened #56 "Effects tab"
Would like to know how I can implement the Effects tab in Angular.

[2021-03-23 10:00] rsedykh commented on #56
Hi @handihow

`npm i uploadcare-widget-tab-effects`

and then add this code anywhere you want

[code]

Hope it helps!

[2021-03-23 10:00] #56 closed

[2021-03-23 10:29] handihow commented on #56
thanks

[2021-03-23 13:21] handihow opened #57 "Detect if dialog was closed"
how can I detect if the dialog was closed, without any image being selected or uploaded?

i.e. the user just opened the dialog and then closed it with the top right close button.

I cannot see it being detectable in the on-change output.

[2021-03-23 14:15] handihow commented on #57
it's not really important, sorry

[2021-03-23 14:15] #57 closed

[2021-06-15 01:29] AhmedSaladin opened #66 "how to reset uploadcare widget to original state after the file upload is complete in angular"
how to reset upload care widget to original state after the file upload is complete in angular I have tried to handle it with CSS and it wouldn't work.

[2021-06-15 07:43] optlsnd commented on #66
Hi @AhmedSaladin, you can use either the `clearUploads` or `reset` method to reset the widget's state. Both methods are accessible from a parent component via the `@ViewChild()` approach. See [Methods](https://github.com/uploadcare/ngx-uploadcare-widget#methods) and this [demo app](https://github.com/uploadcare/ngx-uploadcare-widget/blob/master/projects/demo/src/app/app.component.ts) for more deta

[2021-06-17 15:43] AhmedSaladin commented on #66
@optlsnd  thanks I'm gonna check the demo app

[2021-06-17 15:43] #66 closed

[2021-06-29 10:20] megaomniglobalcorp opened #67 "Upgrade to support Angular V12"
Please update the repo to support Angular V12

[2021-07-01 11:04] nd0ut commented on #67
Hey @megaomniglobalcorp, we're released v3.0.1 with Angular v12 support, check it out please.

[2021-07-21 12:05] #67 closed

[2022-01-07 05:01] mwawrusch opened #78 "package.json dependency messed up"
### Describe the bug

the package json contains this:

[code]

  which is both unnecessary and also causes errors with npm versions bundled with node 17.x - it can only be bypassed if using -force mode with npm install, resulting in this:

[code]

### Expected behavior
This is the correct peerDependency:
[code]

[2022-01-18 10:52] nd0ut commented on #78
Hey @mwawrusch

Could you try version `3.1.0-alpha.0` please?

I didn't remove the dependencies, just specified any version with `*` and moved `tslint` to dependencies, as it's done when generating a library package through the built-in scaffolding tool.

[2022-02-02 09:27] nd0ut commented on #78
@mwawrusch ping :)

[2022-02-22 09:58] #78 closed

[2022-03-03 12:58] peternixey opened #93 "Documention may be slightly outdated in typescript"
### Describe the bug

Having just installed the UC widget into a new project I noticed that it was throwing some errors in both VSCode and also during compilation. These were coming because the documentation suggests that attributes should be passed to the UC widget as strings where a number of them are not string types and so need to be passed using square brackets around attribute names.

### Ex

[2022-03-09 18:23] jonmbennett commented on #51
The peer dependency is not mentioned here: https://uploadcare.com/docs/integrations/angular/

That might cause some people to experience this. Such as myself, today. :)

[2022-06-19 03:11] ZachBurtleMSFW opened #98 "Encourage the library authors to publish an Ivy distribution."
The Angular build process dumps this message as a warning.  This along with removing CommonJS dependencies would go a long way to optimize this package.

[2022-07-18 07:42] #93 closed

[2022-07-18 07:43] nd0ut commented on #93
Hey @peternixey,

thank you! We're fixed it.

[2022-07-22 11:14] #98 closed

[2022-07-28 17:55] venkatesh-89 opened #102 "Require dialog api exposed in UcWidgetCustomComponent"
It would be great to expose the dialog fail/always event emitted to the angular UcWidgetCustomComponent
[https://uploadcare.com/docs/file-uploader-api/v2/#dialog-api](https://uploadcare.com/docs/file-uploader-api/v2/#dialog-api)

I need to know if the widget dialog was closed without a new file getting uploaded or any change happening inside the widget. Right now the widget cannot be reset and it

[2022-08-02 12:56] nd0ut commented on #102
Hey @venkatesh-89,
please see https://github.com/uploadcare/ngx-uploadcare-widget/pull/103, will it work for you?